%h1 Subjects
- @subjects.zip(tile_colors).each do |subject,color|
  .col-sm-4.col-md-2
    = link_to "<h2>#{subject.name}</h2>".html_safe, subject, class: "thumbnail tile tile-medium tile-#{color}"
      